.app {
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.logo {
   max-width: 50%;
}
.logo img {
    width: 100%;
    
 }

.tekst__felt {
    width: 100%;
}
.input__side {
    color: rgb(107,79,91);
    max-height: 80%;
    max-width: 80%;
    
}







/* bakgrunn er 222,222,222 fra index.css */

@media only screen and (max-width: 800px) {
    img {
        
    }

    .app {
        justify-content:center;
        flex-direction: column-reverse;
    }

    .input__side {
        flex-direction: column;
    }

    .input__side {
        order:-1;
    }
}